#abstract files
/abstracts/*.txt

#pycache
/__pycache__

#corpus
/source/*.csv
/source/ic.txt
/source/tfidf.txt
/source/vectors.txt
/source/vectors_part.txt
/source/*.rtf
/source/*.py

#results
/results/*.txt
/results/*.csv

